@use "@/styles/index" as *;

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 5px;
  width: calc(100% - 10px);

  flex-direction: column;
  align-items: stretch;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  @include on-desktop {
    width: auto;
    padding-right: 0;
  }
}

.controls {
  display: flex;
  gap: 12px;

  flex-direction: column;
  align-items: stretch;

  @include on-tablet {
    flex-direction: row;
    align-items: center;
  }

  input {
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid $border;
    font-size: 14px;

    @include on-mobile {
      width: 100%;
      box-sizing: border-box;
    }
  }

  select {
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid $border;
    font-size: 14px;
    color: $text;
    background-color: $bgBlock;

    @include on-mobile {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.add_client {
  @extend .button;

  @include on-mobile {
    width: 100%;
    box-sizing: border-box;
  }
}
