@use "@/styles/index" as *;

.contentContainer {
  box-sizing: border-box;

  @include on-desktop {
    margin-inline: auto;
    max-width: $desktop-min-width;
  }
}

.bg {
  background-color: #05080a;
  height: auto;
  z-index: 2;

  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);

  background-size: 40px 40px;
}

//#region HEADER

.headerContainer {
  background-color: #05080a;
  border-block: 1px solid rgba(255, 255, 255, 0.1);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 30px 10px 30px;

  height: auto;
  z-index: 10;
  position: relative;

  @include on-desktop {
    // margin-inline: 100px;
    border-inline: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.logoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  position: relative;
  text-decoration: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #a9dfd8, #f2c8ed, #f2994a);
    transform: scaleX(0);
    transition: transform 0.4s ease;
  }

  &::before {
    top: -6px;
    transform-origin: left;
  }

  &::after {
    bottom: -6px;
    transform-origin: right;
  }

  &:hover::before,
  &:hover::after {
    transform: scaleX(1);
  }
}

.flow {
  color: $info;
  font-weight: 800;
  font-size: 24px;
}

.crm {
  font-weight: 400;
  font-size: 16px;
  gap: 2px;
}

.loginBlock {
  @extend .button;
  // background-color: $textSecondary; // фон кнопки

  border-radius: 0;
  padding: 0;
  display: flex;

  // текст внутри кнопки
  .loginButton {
    color: #05080a;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
  }
}
//#endregion

.aboutWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  background-color: #05080a;

  @include on-tablet {
    flex-direction: row;
    border-inline: 1px dashed rgba(255, 255, 255, 0.1);
  }
}

//#region StartInfo

.startInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.startInfoContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: auto;

  gap: 14px;

  padding: 18px;

  @include on-tablet {
    gap: 20px;
  }

  @include on-desktop {
    padding: 64px;
  }
}

.newVersion {
  border: 1px solid $primary;
  border-radius: 18px;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;
  font-size: 12px;
  color: #a8f0e6;
  background-color: rgba(168, 240, 230, 0.1);
  padding: 4px 10px;
}

.dot {
  line-height: 1;
  font-size: 1rem;
}

.startInfoText {
  font-size: 26px;
  text-align: start;
  font-weight: 800;
  padding-bottom: 10px;

  @include on-tablet {
    padding-bottom: 20px;
    font-size: 32px;
  }
}

.startInfoAbout {
  text-align: start;
}

.gradientText {
  background: linear-gradient(90deg, #a9dfd8, #f2c8ed, #f2994a);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.startButton {
  @extend .button;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 0;
}

.biLock {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.getStarted {
  color: inherit;
  align-items: center; // выравнивание текста с иконкой
}

.additionalInfo {
  display: flex;
  align-items: center;
  gap: 32px;
}

.additionalInfo > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.additionalInfo p {
  margin: 0;
  font-size: 10px;
  line-height: 1;
}

.adIc {
  width: 12px;
  height: 12px;
  color: $textSecondary;
  display: inline-block;
  vertical-align: middle;
}
//#endregion
//#region Preview
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  flex: 1;

  @include on-tablet {
    border-left: 1px dashed rgba(255, 255, 255, 0.1);
    border-top: none;
  }
}

.previewContent {
  padding: 32px;

  @include on-desktop {
    padding: 64px;
  }
}

.previewImageWrapper {
  display: inline-block;
  padding: 4px;
  border-radius: 24px;
  background: linear-gradient(45deg, #a9dfd8, #f2c8ed, #f2994a, #a9dfd8);
  box-shadow:
    0 20px 40px rgba(242, 200, 237, 0.5),
    0 0 30px rgba(242, 200, 237, 0.3);
}

// .previewImageWrapper img {
//   display: block;
//   width: 500px;
//   border-radius: 20px;
// }

.previewImageWrapper img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 20px;
}

//#endregion

//#region Features

.featuresWrapper {
  background-color: #05080a;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);

  .contentContainer {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: $desktop-min-width;
    margin-inline: auto;

    @include on-tablet {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 32px;

  border-top: 1px dashed rgba(255, 255, 255, 0.1);

  &:last-child {
    border-right: none;
  }

  @include on-tablet {
    border-top: none;
    border-right: 1px dashed rgba(255, 255, 255, 0.1);

    // &:first-child {
    //   border-left: 1px dashed rgba(255, 255, 255, 0.1);
    // }
  }

  @include on-desktop {
    &:first-child {
      border-left: 1px dashed rgba(255, 255, 255, 0.1);
    }

    &:last-child {
      border-right: 1px dashed rgba(255, 255, 255, 0.1);
    }
  }
}

.feature:hover {
  background-color: #080b0f;
}

.featureIcon {
  width: 20px;
  height: 20px;
  color: $primary;
}

.featureAbout {
  text-align: start;
}

//#endregion

//#region Text

.textWrapper {
  background-color: #05080a;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-block: 48px;

  @include on-desktop {
    padding-block: 96px;
  }
}

.textBlock {
  display: flex;
  justify-content: flex-start; // прижимает к левому краю родителя
  width: 100%;
  padding: 0; // убираем лишние паддинги
}

.textBlockContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  padding-inline: 32px;
  border-left: 1px dashed rgba(255, 255, 255, 0.1);

  @include on-tablet {
    padding-left: 64px;
  }
}

.textTitle {
  font-size: 12px;
  color: $primary;
}

.textP {
  font-size: 14px;
}

.fcb {
  padding-left: 10px;
  font-size: 14px;
  border-left: 2px solid $primary;
  font-weight: 400;
}

//#endregion

//#region Advantages

.advantagesWrapper {
  width: 100%;
  padding-block: 28px;
}

.advantagesBlock {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  // justify-items: center;
  padding: 32px;
  border-inline: 1px dashed rgba(255, 255, 255, 0.1);

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages {
  aspect-ratio: 5 / 4;
  border-left: 2px solid;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  text-align: left;
  transition: all 0.3s ease;
  background-color: #05080a;

  @include on-tablet {
    aspect-ratio: 4 / 3;
  }

  @include on-desktop {
    aspect-ratio: 1 / 1;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  }
}

.advantages.noHover:hover {
  transform: none !important;
  box-shadow: none !important;
}

.advantagesIconWrapper {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 12px;
}

.advantagesIcon {
  font-size: 24px;
}

.red {
  border-color: #ff4d4f;
  box-shadow: 0 0 15px rgba(255, 77, 79, 0.5);

  .advantagesIconWrapper {
    border-color: #ff4d4f;
    background-color: rgba(255, 77, 79, 0.2);
  }

  .advantagesIcon {
    color: #ff4d4f;
  }
}

.blue {
  border-color: #40a9ff;
  box-shadow: 0 0 15px rgba(64, 169, 255, 0.5);

  .advantagesIconWrapper {
    border-color: #40a9ff;
    background-color: rgba(64, 169, 255, 0.2);
  }

  .advantagesIcon {
    color: #40a9ff;
  }
}

.green {
  border-color: #73d13d;
  box-shadow: 0 0 15px rgba(115, 209, 61, 0.5);

  .advantagesIconWrapper {
    border-color: #73d13d;
    background-color: rgba(115, 209, 61, 0.2);
  }

  .advantagesIcon {
    color: #73d13d;
  }
}

.orange {
  border-color: #faad14;
  box-shadow: 0 0 15px rgba(250, 173, 20, 0.5);

  .advantagesIconWrapper {
    border-color: #faad14;
    background-color: rgba(250, 173, 20, 0.2);
  }

  .advantagesIcon {
    color: #faad14;
  }
}

.purple {
  border-color: #9254de;
  box-shadow: 0 0 15px rgba(146, 84, 222, 0.5);

  .advantagesIconWrapper {
    border-color: #9254de;
    background-color: rgba(146, 84, 222, 0.2);
  }

  .advantagesIcon {
    color: #9254de;
  }
}

.teal {
  border-color: #13c2c2;
  box-shadow: 0 0 15px rgba(19, 194, 194, 0.5);

  .advantagesIconWrapper {
    border-color: #13c2c2;
    background-color: rgba(19, 194, 194, 0.2);
  }

  .advantagesIcon {
    color: #13c2c2;
  }
}

.pink {
  border-color: #ff85c0;
  box-shadow: 0 0 15px rgba(255, 133, 192, 0.5);

  .advantagesIconWrapper {
    border-color: #ff85c0;
    background-color: rgba(255, 133, 192, 0.2);
  }

  .advantagesIcon {
    color: #ff85c0;
  }
}

.yellow {
  border-color: gray;
  // box-shadow: 0 0 15px rgba(255, 169, 64, 0.5);

  .advantagesIconWrapper {
    border-color: gray;
    background-color: rgba(37, 36, 35, 0.2);
  }

  .advantagesIcon {
    color: gray;
  }
}

.advantagesTitle {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  color: white;

  padding-inline: 32px;
  margin-bottom: 10px;
}
//#endregion

//#region Footer

.footer {
  background-color: #05080a;
  border-block: 1px solid rgba(255, 255, 255, 0.1);
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px 10px 20px;
  margin-top: 12px;

  // border-inline: 1px dashed rgba(255, 255, 255, 0.1);

  height: auto;
  z-index: 10;
  position: relative;

  @include on-desktop {
    // margin-inline: 100px;
  }
}

.createdBy {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.gitIcons {
  display: inline-block;
  color: $textSecondary;
  text-align: left;
  transform-origin: left center;

  transition:
    transform 0.2s ease,
    color 0.2s ease;

  &:hover {
    transform: scale(1.1);
    color: $text;
  }
}

.footerPrivacy {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: start;

  padding: 10px 20px;

  font-size: 10px;
}

//#endregion
